[data-md-color-scheme="slate"] {
    --md-default-bg-color: #312f2f;
    --md-code-fg-color: #c530ee;
    --md-code-hl-name-color: #D5D7E2;
    --md-code-hl-comment-color: #50A64A;
    --md-code-hl-string-color: #b9381b;
    --md-code-hl-number-color: #B5CEA8;
}
[data-md-color-scheme="default"] {
    --md-default-bg-color: #e7eef6;
    --md-code-fg-color: #c20707;
    --md-code-hl-name-color: #2e3c43;
    --md-code-hl-comment-color: #3e9516;
    --md-code-hl-string-color: #c41919;
    --md-code-hl-number-color: #be8901;
}

[data-md-color-scheme="slate"] .md-sidebar--primary .md-sidebar__scrollwrap{
    margin-top: -5%;
    /*margin-left: -10%;
    margin-right: 10%;*/
    padding-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.808) 0px 30px 50px;
}

[data-md-color-scheme="default"] .md-sidebar--primary .md-sidebar__scrollwrap{
    margin-top: -5%;
    /*margin-left: -10%;
    margin-right: 10%;*/
    padding-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 50px;
}


/*.md-sidebar--secondary .md-sidebar__scrollwrap{
    margin-top: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

[data-md-color-scheme="slate"] .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-weight: bold;
    font-size: 20px;
    color: #61ff96;
    padding-bottom: 3.5%;

    text-shadow: 2px 7px 5px rgba(148, 148, 148, 0.3), 
    0px -4px 10px rgba(0, 0, 0, 0.37);
}
[data-md-color-scheme="default"] .md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-weight: bold;
    font-size: 22px;
    color: #252593;
    padding-bottom: 3.5%;

    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

/*logo*/
.md-header__button.md-logo :-webkit-any(img,svg){
    height: 1.8rem;
}

/*sun-moon en-zh -- logo*/
.md-icon svg {
    height: 1.0rem;
    width: auto;
}

.md-typeset code {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
    color: rgb(255, 255, 255);
}

[data-md-color-scheme="default"] .md-typeset h1 {
    color: rgba(0, 0, 0, 1);
}

/*width of content area*/
.md-grid {
    max-width: 90%; 
  }

.center {
    display: block;
    margin: 0 auto;
}

.md-nav__item .md-nav__link--active {
    color: #000000;
    background-color: #ffac85;
    border-radius: 3%;
    font-weight: bold;
}

.md-nav__link>* {
      font-weight: bold;
}

.e_docker {
    color: #1DA1F2;
  }
.e_github {
    color: #7C007C;
  }
.e_vscode {
    color: #1d8ff2;
  }
.e_cpp {
    color: #f4ce65;
  }
.e_swift {
    color: #F6692F;
  }
.e_aws {
    color: #FD9827;
  }  
.e_terminal {
    color: #02cb16;
  }  

.md-typeset .admonition, .md-typeset details {
    font-size: .75rem;
}